  main1 {
    height: 200px;
    background-color: whitesmoke;
  }

  main2 {
    height: 200px;
    background-color: whitesmoke;
  }
  
  footer {
    height: 250px;
    background-color: lightgray;
  }

  header {
    height: 80px;
  }

  span.title {
    font-size: 50pt;
  }

  span.main {
    font-size: 20pt;
  }

  span.info {
    font-size: 15pt;
  }
