  header {
    height: 190px;
    width: auto;
    background-color: lightyellow
  }

  main {
    height: auto;
    width: auto;
    background-color: lightblue
  }
  
  footer {
    height: 120px;
    width: auto;
    background-color: lightgray
  }

  span.title {
    font-size: 50pt;
  }

  span.main {
    font-size: 20pt;
  }

  span.url {
    font-size: 19pt;
  }

  span.info {
    font-size: 15pt;
  }

  ul{
  padding-left:0;
  }

  li{
  list-style:none;
  }

  .convention {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 56px;
  }

  .activitycontent {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(54, 132, 216);
  }

  .activitytitle {
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
  }

  .accordion-area{
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .accordion-area li{
    margin: 10px 0;
  }

  .achievement {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    transition: 0.5s;
  }

  .achievement:hover {
    background-color: white;
  }

  .activeday {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
  }

  .activeday:hover {
    background-color: white;
  }

  .activitycontent ul li {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(212, 212, 212);
  }

  .activitycontent ul li a {
    text-decoration: none;
    color: rgb(215, 215, 215);
  }

  .activitycontent ul li:first-child {
    border-top: 2px solid rgb(212, 212, 212);
  }

  .title{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .title:hover {
    background-color: rgb(154, 199, 248);
  }

  .title::before,
  .title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
  }

  .title::before{
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
  }

  .title::after{
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
  }

  .title.close::before{
    transform: rotate(45deg);
  }

  .title.close::after{
    transform: rotate(-45deg);
  }

  .box{
    display: none;
    margin: 0 3% 3% 3%;
    padding: 3%;
    font-size: small;
  }